---
import BaseLayout from "../layouts/BaseLayout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <h1>🧑‍🚀 Hello there Friend!</h1>
  <p>
    I am Jon Kurtis and I am a developer/marketing manager based in Orlando, FL.
    I went to UCF to get my BS in Marketing. Then I taught myself to code at the
    University of YouTube and Wes Bos courses.
  </p>
  <p>My thoughts on education:</p>
  <p>
    Teaching myself to code &gt; My BS in Marketing from UCF (Go Knights 😅)
  </p>
  <p>My favorite tech stack atm is:</p>
  <ul>
    <li>Next JS for web apps</li>
    <li>SvelteKit or Astro for websites</li>
    <li>Supabase for BaaS (Postgres db, storage, and Auth)</li>
  </ul>
  <p>
    I am currently building <a href="https://grailwriter.com">Grail Writer</a> a
    GPT powered AI Article Generator. It allows you to generate unlimited SEO Optimized
    blog posts for a target keyword.
  </p>
  <p>
    I am building a community for programmatic SEO website builders at <a
      href="https://www.pseohackers.com">pSEOHackers.com</a
    ><div class=""></div>
  </p>
  <p>
    Recently, I am buidling a Legal Dictionary site called <a
      href="https://www.lawfred.com">Lawfred</a
    >. I am startig off with legal definitions. But the grand plan is to create
    a legal AI chatbot SaaS.
  </p>
  <p>
    At my day job, I am a Digital Marketing manager in the automotive industry.
  </p>
  <p>
    Mostly I work with Automotive websites, news/media websites and building
    internal tools to automate marketing tasks. I also manage a lot of ad spend
    and a team of marketers.
  </p>
</BaseLayout>
