@import "~bulma/sass/utilities/initial-variables"
@import url(https://fonts.googleapis.com/css?family=Monoton)

// Config vars
// Kalidi logo brand color: #FD461E
$primary-red: #FF1177
$dark-blue: rgb(14, 36, 57)
$secondary-blue: rgb(0, 173, 237)
$yellow: #FFDD1B
$kaldi-red-invert: #fff

$primary: $primary-red
$primary-invert: $kaldi-red-invert
$secondary: $secondary-blue
$dark: $dark-blue
$tertiary: $yellow
$body-color: #333 

$family-monospace: monospace

nav 
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 20px, rgba(0, 0, 0, 0.1) 0px 6px 6px

.navbar .navbar-menu
  box-shadow:none !important

.content .taglist
  list-style: none
  margin-bottom: 0
  margin-left: 0
  margin-right: 1.5rem
  margin-top: 1.5rem
  display: flex
  flex-wrap: wrap
  justify-content: left
  align-items: center
  li
    padding: 0 1.5rem 0 0
    margin-bottom: 1rem
    margin-top: 0

// Helper Classes
.full-width-image-container
  width: 100vw
  height: 400px
  position: relative
  left: 50%
  right: 50%
  margin: 5em -50vw
  background-size: cover
  background-position: bottom
  display: flex
  justify-content: center
  align-items: center

.margin-top-0
  margin-top: 0 !important

@import "~bulma"

body 
  font-size: 20px

@include from($tablet)
  .container-content
    max-width: 800px!important
    width: 800px!important
  .hero-image-container
    width: 225px
    min-width: 225px

@include until($tablet)
  nav
    flex-direction: column
  .navbar-brand
    justify-content: center
  #navMenu
    flex-direction: column
  .nav-menu-links
    order: 1
  .hero-container
    flex-direction: column
 
.hero-image-container
  border-radius: 50%
  width: 175px
  min-width: 175px
  border: 1px solid white
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px $secondary, 0 0 35px $secondary, 0 0 40px $secondary, 0 0 50px $secondary, 0 0 75px $secondary
  &:hover
    box-shadow: none

.hero-image
  border-radius: 50%
  background: $secondary
  margin: .25rem

a.navbar-item
  color: white
  font-size: 1.2rem

  &:hover
    background: none
    color: #b5b3b3

.icon
  display: flex
  margin: 0 0.2rem!important

.github-icon
  fill: #b5b3b3

  &:hover
    fill: white

a.neon-glow
  color: #fff
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px $primary, 0 0 35px $primary, 0 0 40px $primary, 0 0 50px $primary, 0 0 75px $primary

  &:hover
    text-shadow: none
    color: $primary

.neon-glow-onHover
  text-shadow: none
  color: $primary

  &:hover
    color: #fff
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177

.button.is-link
  background: $tertiary
  color: black
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 3px 1px -2px rgba(0,0,0,0.12)
  &:hover
    background: $tertiary
    color: black