---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header class='prose'>
	<h2>
		{SITE_TITLE}
	</h2>
	<nav>
		<HeaderLink class='text-primary' href="/">Home</HeaderLink>
		<!-- <HeaderLink href="/blog">Blog</HeaderLink> -->
		<HeaderLink class='text-primary' href="https://twitter.com/jonkkillian" target="_blank">Follow me on Twitter</HeaderLink>
		<HeaderLink class='text-primary' href="https://github.com/jonkurtis" target="_blank">GitHub</HeaderLink>
	</nav>
</header>
<style>
	header {
		margin: 0em 0 2em;
	}
	h2 {
		margin: 0.5em 0;
	}
</style>
